@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;500;600&display=swap');






/* Usage	Color Name	HEX Code	Tailwind Class
Primary Color	Emerald Green	#047857	bg-green-700
Accent Color	Bangladesh Red	#D62828	bg-red-600
Secondary Color	Warm Yellow	#FBBF24	bg-yellow-400
Light Background	Soft Beige	#F9F5F0	bg-[#F9F5F0]
Text Dark	Charcoal	#333333	text-gray-800
Text Light	Soft White	#FAFAFA	text-gray-50 */


* {

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
.logo {
  font-family: 'Merriweather', serif;
}

a.active {
  border-bottom: 4px solid green;
}